@{
    ViewBag.Title = "About";
}

<h2>About</h2>
<div class="aboutme">
    <h1>About Me</h1>
    <p>I am a software developer who enjoys playing video games in his free time.</p>
</div>
<div class="mypic">
    <img src="/1.jpg" />
</div>